@tailwind base;
@tailwind components;
@tailwind utilities;

.techno {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.triangle {
    clip-path: polygon(0 0, 100% 68%, 100% 0);
}
